{% extends "base.html" %}

{% block title %}Already Done{% endblock %}

{% block content %}

<h1 class="text-center">Thanks for completing {{ survey.title }}</h1>
<p class="h5 text-center my-4">We recorded the following responses for you:</p>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <ul>
                {% for question in survey.questions %}
                <li>
                    <b>{{ question.question }}:</b>
                    {{ responses[loop.index0]["choice"] }}
                    <i>{{ responses[loop.index0]["text"] }}</i>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}