{% extends 'base.html' %}
{% block title %}Pick Survey{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Welcome to our survey!</h1>
<!-- Pick-survey form-->
<form method="POST">
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="form-group col-md-6">
                <label class="mb-4">Please pick a survey to begin:</label>
                <select name="survey_code" class="form-control">
                    {% for code, survey in surveys.items() %}
                    <option value="{{ code }}">{{ survey.title }}</option>
                    {% endfor %}
                </select>
            </div>
</form>
<!-- End Pick-survey form-->
</div>
<button class="btn btn-outline-dark btn-sm mt-4">Start Survey</button>
</div>

{% endblock %}
