{% extends "base.html" %}

{% block title %}Edit Tag{% endblock %}

{% block content %}
  <h2>Edit Tag</h2>
    <form method="POST" action="/tags/{{ tag.id }}/edit">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="{{ tag.name }}" required>
    </div>
    <button type="submit" class="btn btn-success">Edit</button>
    <a href="{{ url_for('list_tags') }}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}

