{% extends "base.html" %}

{% block title %}Post Detail{% endblock %}

{% block content %}
<h2>{{ post.title }}</h2>
<p>{{ post.content }}</p>
<p>Posted by {{ post.user.first_name }} {{ post.user.last_name }}</p>
<form>
    <a href="{{ url_for('user_detail', user_id=post.user.id) }}" class="btn btn-outline-primary btn-sm">Cancel</a>

    <button class="btn btn-primary btn-sm"
            formaction="{{ url_for('edit_post_form', post_id=post.id) }}"
            formmethod="GET">Edit
    </button>
    <button class="btn btn-danger btn-sm"
            formaction="{{ url_for('delete_post', post_id=post.id) }}"
            formmethod="POST">Delete
    </button>
</form>
{% endblock %}

