body {
  background-color: #8B99A8;
  margin: 0 auto;
  font-family: 'Montserrat';
}

/* CSS */
.button-2 {
  background-color: antiquewhite;
  border-radius: 8px;
  border-width: 0;
  color: navy;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

h1 {
  color: antiquewhite;
  margin: 10px;
}

p {
  color:burlywood;
  margin: 10px;
}

#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}
