{% extends "base.html" %}

{% block title %}User Detail{% endblock %}

{% block content %}
<h2>User Detail</h2>

<div class="row">
    <div class="col-md-4">
        <img src="{{ user.image_url }}" alt="{{ user.first_name }} {{ user.last_name }}" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h3 class="mt-4">{{ user.first_name }} {{ user.last_name }}</h3>

        <form>
            <div class="mt-3">
                <button class="btn btn-primary btn-sm"
                        formaction="/user/{{ user.id }}/edit"
                        formmethod="GET">Edit
                </button>
                <button class="btn btn-danger btn-sm"
                        formaction="{{ url_for('delete_user', user_id=user.id) }}"
                        formmethod="POST">Delete
                </button>
                <a href="/" class="btn btn-secondary btn-sm">Return</a>
            </div>
        </form>
    </div>
</div>

<h2 class="mt-4">Posts</h2>
<ul>
    {% for post in user.posts %}
    <li>
        <a href="{{ url_for('post_detail', post_id=post.id) }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>

<a href="{{ url_for('new_post', user_id=user.id) }}" class="btn btn-primary btn-sm">Add Post</a>







{% endblock %}
