{% extends "base.html" %}

{% block page_title %}Edit User{% endblock %}

{% block content %}

<h2>Edit User</h2>

<div class="row">
        <form method="POST" action="{{ url_for('user_edit', user_id=user.id) }}">
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}" maxlength="50" required>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}" maxlength="50" required>
            </div>
            <div class="form-group">
                <label for="image_url">Image URL</label>
                <input type="url" class="form-control" id="image_url" name="image_url" value="{{ user.image_url }}" maxlength="200">
            </div>
            <a href="/user/{{ user.id }}" class="btn btn-outline-success btn-sm">Cancel</a>
            <button type="submit" class="btn btn-success float-right btn-sm">Save</button>
        </form>
</div>

{% endblock %}



