<html>

<head>
  <title>Adopt</title>
  <link rel="stylesheet" href="/static/adopt.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <!-- Include Bootstrap CSS here -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Adopt!</a>
</nav>

<div class="container">

  {% for msg in get_flashed_messages() %}
  <div class="alert alert-info">{{ msg }}</div>
  {% endfor %}

  {% block content %}
  {% endblock %}

</div>

</body>
<footer>
  <div id="footer">
    <p>&copy; 2023 danielrojas</p>
  </div>
</footer>
</html>
